<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <script>
    // "use strict"
    // 1.默认绑定规则
    // console.log(this) // true
    // console.log({} === {}) // false 这里对比的是内存中存储的 指针地址/引用
    // 全局中的变量或者函数 都是挂载上window的
    // 函数的独立调用
    // function test() {
    //   console.log(this === window)
    // }
    // test()

    // 2.隐式绑定规则 谁调用就指向谁  (隐式丢失,参数赋值)
    // const a = 0
    // const obj = {
    //   a: 2,
    //   foo: function () {
    //     console.log(this); // obj
    //     // 两个函数的指向可能相同但是每个函数都有一个自己的this 函数执行会销毁
    //     // function test() {
    //     //   console.log(this)  // window  函数独立调用
    //     // }
    //     // test()

    //     // (function(){
    //     //   console.log(this)
    //     // })();

    //     function test() {
    //       console.log(this) // window
    //     }
    //     return test

    //     // 闭包(现象): 当函数执行的时候, 导致函数被定义, 并抛出
    //   }
    // }
    // obj.foo()()

    // 变量赋值 当方法被赋值的时候,函数this会存在隐式丢失
    // const a = 0
    // function foo() {
    //   console.log(this)
    // }
    // const obj = {
    //   a: 2,
    //   foo: foo
    // }
    // const bar = obj.foo
    // bar()  // 看函数的调用方式,独立调用


    // 函数的传参
    // const a = 0;
    // function foo() {
    //   console.log(this)  // window
    // }
    // // 父函数是有能力决定子函数的this指向的
    // function bar(fn) {
    //   fn() // 独立调用
    // }
    // const obj = {
    //   a: 2,
    //   foo: foo
    // }
    // // 预编译的过程中,实参被赋值为形参,值的拷贝的过程,浅拷贝的过程
    // bar(obj.foo)

    // 父函数是有能力决定子函数的this指向的 这句话扩展
    // 他们的this都是父函数 也就是api接口中指明的
    // 回调函数-->子函数  父函数
    // const arr = [1, 3, 2]
    // arr.forEach((item, index, arr) => {
    //   console.log(this)
    // })
    // arr.sort((a, b) => {
    //   console.log(this)
    //   return a - b
    // })
    // setInterval(() => {
    //   console.log(this)
    // }, 1000)


    // 3.显示绑定
    // call 
    // apply 
    // bind 返回一个新函数 
    // const a = 0
    // function foo(a, b, c, d, e) {
    //   console.log(a, b, c, d, e)
    //   // console.log(this)
    // }
    // const obj = {
    //   a: 2,
    //   foo: foo
    // }
    // const bar = obj.foo
    // obj.foo(1, 2, 3, 4, 5)
    // bar.call(obj, 1, 2, 3, 4, 5) //  第一个参数是要指向的对象,第二个及后面的参数是函数的实参
    // bar.apply(obj, [1, 2, 3, 4, 5]) //  第一个参数是要指向的对象,第二个参数是数组数组中包含所有的函数实参
    // const fn = bar.bind(obj)
    // fn(1, 2, 3, 4, 5)
    // 区别: 
    // call 参数个数取决于函数的参数    apply 参数明确   call和apply会执行参数
    // bind 不会执行参数 而是返回一个新函数


    // 4. new 绑定
    // function Person(name) {
    //   this.name = name
    //   this.fun = function() {
    //     console.log(this)
    //   }
    // }
    // const obj = {a: 1, b: 2}
    // const ldh = new Person('ldh')


    // 预编译的五步
    // 1.创建AO = {}  
    // 2.找变量声明、形参, 赋值为undefined, 挂载到AO上   
    // 3.实参和形参相统一
    // 4.找函数声明 赋值函数体
    // 5.语句执行

    // 题目
    // const name = '222'
    // const obj = {
    //   name: '111',
    //   say: function() {
    //     console.log(this.name)
    //   }
    // }
    // const fun = obj.say
    // fun()
    // obj.say()
  </script>
</body>
</html>