<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app"></div>

  <template id="my-app">
    <!-- 动态绑定属性 -->
    <div v-bind:[name]="value">v-bind动态绑定属性</div>

    <!-- 动态绑定一个对象 用途:封装高阶组件 -->
    <div v-bind="info">v-bind绑定一个对象</div>
  </template>

  <script src="../01-邂逅体验Vue3和Vue3源码/004-认识CDN和CDN引入/vue.js"></script>
  <script>
    const App = {
      template: '#my-app',
      data() {
        return {
          name: 'name',
          value: 'abc',
          info: {
            name: 'ksw',
            age: 18,
            height: 1.88
          }
        }
      }
    }

    Vue.createApp(App).mount('#app')
  </script>
</body>
</html>