<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
  
  <!-- 1.对象的引用赋值 -->
  <script>
    // 对象是引用类型  栈内存(地址) --指针-- 堆内存
    // const info = { name: 'why', age: 18 }
    // const obj = info
    // info.name = 'kobe'
    // console.log(obj.name)
  </script>

  <!-- 2.对象的浅拷贝 -->
  <script>
    // const info = {name: 'why', age: 18, friend: { name: 'kobe', age: 20 }}
    // const obj = Object.assign({}, info)  // 浅拷贝
    // const obj = {...info} // 浅拷贝
    // const obj = _.clone(info)

    // 修改第一层name
    // info.name = 'kobe'
    // console.log(obj.name)

    // 修改深层次name
    // info.friend.name = 'james'
    // console.log(obj.friend.name)
  </script>

  <!-- 3.对象的深拷贝 -->
  <script>
    const info = {name: 'why', age: 18, friend: { name: 'kobe', age: 20 }}
    // const obj = JSON.parse(JSON.stringify(info))   // 还原的时候会在内存中生成一个新的对象
    // const obj = _.cloneDeep(info)  // 使用第三方库进行深拷贝

    // info.friend.name = 'james'
    // console.log(obj.friend.name)
  </script>
</body>
</html>