<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <script>
  // 使用sass less 模块进行编写代码 可以提高代码的 安全性  健壮性 以及编写代码的效率

  // webpack 静态的模块化打包工具
  // webpack is a static module bundler for modern JavaScript applications
  // 1.打包工具(bundler)
  // 2.静态资源(static)
  // 3.模块化(module)  ES Moudle  /  CommonJS(node环境)
  // 4.现代的(modern) Javascript


  // 学习哪些语法打包
  // 1.JavaScript的打包
  // 将ES6转换成ES5的语法
  // TypeScript的处理,将其转换成JavaScript
  // 2.CSS的处理
  // CSS模块的加载\提取
  // Less Sass等预处理器的处理
  // 3.资源文件img font
  // 图片img文件的加载
  // 字体font文件的加载
  // 4.HTML资源的处理
  // 打包HTML资源文件
  // 处理vue项目的SFC文件 .vue文件
  </script>
</body>
</html>